body { 
	padding: 0; 
	margin: 0; 
	font-family: monospace; 
} 

.container { 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
	width: 100%; 
	height: 100vh; 
	background-color: rgb(212, 123, 175); 
} 

h1{ 
	color: rgb(18, 19, 18); 
	text-align: center; 
} 

.digit { 
	font-size: 150px; 
	color: #0c0c0c; 
} 

.txt { 
	font-size: 30px; 
	color: #151514; 
} 

#buttons { 
	margin-top: 50px; 
} 

.btn { 
	width: 100px; 
	padding: 10px 15px; 
	margin: 0px 20px; 
	border-top-right-radius: 10px; 
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 4px; 
	border-top-left-radius: 4px; 
	cursor: pointer; 
	font-size: 20px; 
	transition: 0.5s; 
	color: rgb(248, 237, 237); 
	font-weight: 500; 
} 

#start { 
	background-color: #09ad1c; 
} 

#stop { 
	background-color: #e61818; 
} 

#reset { 
	background-color: #1323d0; 
}